

{% for comment in article.comment_set.all %}
    {% if comment %}

        <p>
            <a data-toggle="collapse" href="#comment{{ comment.pk }}" role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                + <hr>
            </a>

        </p>
        <div class="collapse" id="comment{{ comment.pk }}">
        <div class=" pl-3">
            {{ comment.text }}
            <a class="float-right" href="{% url 'edit_comment' comment.pk %}" >Редактировать комментарий</a>
            <h5 class="text-left font-italic ml-3"> Автор: {{ comment.author }}</h5>
        {% include 'comment.html' with article=comment %}
        </div>


    {% endif %}
{% endfor %}
</div>