{% extends 'base.html' %}

{% block content %}
    <div class="offset-3 col-6">
        <div class="mt-3 mb-3">
            <form  class="form-inline" action="{% url 'articles_list' %}" method="GET">
                {% csrf_token %}
                <div >

                    {{ form.article_name.label }}: {{ form.article_name }}
                    <button class="btn btn-primary mb-1 pt-0 pb-1" type="submit">Искать</button>
                </div>
            </form>
        </div>

        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th class="col-sm-10" scope="col">Заголовок</th>
                <th class="col-sm-2" scope="col">Подробнее</th>

            </tr>
            </thead>
            {% for article in object_list %}
                <tr>
                    <td>{{ article.title }}</td>
                    <td class="text-center"><a href="{% url 'article_detail' article.pk %}"><i
                            class="fas fa-info-circle"></i> </a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock content %}